@media (max-width: 1300px) {
  .cart {
    &__title {
      text-align: center;
    }

    &__item {
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }

    &__order-box {
      justify-content: space-around;
    }
  }
}

@media (max-width: 900px) {
  .product-card {
    padding-bottom: 0 15px 60px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;

    &__img-wrapper {
      max-width: 400px;
      padding: 5px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 550px;
    padding: 0 15px;
  }

  .mobile-hide {
    display: none;
  }

  .header {
    padding-top: 15px;

    &__wrapper {}

    &__menu-wrapper {
      display: none;
    }

    &__main-section {}

    &__catalogBtn {
      display: none;
    }

    &__search-form {
      display: none;
    }

    &__contact-wrapper {
      display: none;
    }

    &__main-vertical-line {
      display: none;
    }

    &__price-list-btn {
      display: none;
    }

    &__cart {
      min-width: auto;
    }

    &__cart-text-wrapper {
      display: none;
    }

    &__mobile-burger-menu {
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $_5;
      border-radius: 1000px;
    }

    &__mobile-burger-img {
      width: 12px;
      height: 12px;
      position: relative;
    }

    &__mobile-buttons {
      border-top: 1px solid rgba(63, 78, 101, 0.1);
      border-bottom: 1px solid rgba(63, 78, 101, 0.1);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__mobile-buttons-wrapper {
      max-width: 320px;
      height: 42px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &__mobile-buttons-catalog {
      background: none;
      border: none;
      display: flex;
      align-items: center;

      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: $_2;
      cursor: pointer;
    }

    &__mobile-buttons-catalog-img {
      margin-right: 6px;
    }

    &__mobile-vertical-line {
      height: 30px;
      opacity: 0.1;
      border-left: 1px dashed $_2;
      margin: 0 45px;
    }

    &__mobile-buttons-search {
      background: none;
      border: none;
      display: flex;
      align-items: center;

      font-weight: 600;
      font-size: 12px;
      line-height: 15px;
      color: $_2;
    }

    &__mobile-buttons-search-img {
      margin-right: 6px;
    }

  }

  .catalog {
    &__top-line-categories {
      display: none;
    }

    &__title-box {
      flex-direction: column;
      align-items: center;
    }

    &__title {
      font-weight: 500;
      font-size: 20px;
      line-height: 120%;
      text-transform: uppercase;
      color: #111111;
    }

    &__sort-box {
      display: none;

      &_mobile {
        display: flex;
        position: relative;
        margin-left: -30px;
      }
    }

    &__main {
      margin: 0;
      flex-direction: column;
      align-items: center;
    }

    &__side-filters {
      margin: 0 auto;
    }

    &__products-list {
      justify-content: center;
    }

    &__side-filters-categories-item {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: $_2;
      margin-bottom: 0px;
      text-transform: none;
    }

  }

  .bread-crumbs {
    display: none;
  }

  .admin-panel {
    &__form-wrapper {
      flex-wrap: wrap;
    }

    &__create-box {
      flex-basis: 100%;
    }

    &__edit-box {
      margin: 20px auto;
      flex-basis: 100%;
    }
  }

  .admin-product {
    &__mini {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      width: 300px;
    }

    &__mini-img {
      max-width: 140px;
      height: auto;
    }
  }

  .mobile {

    &__back-btn {
      display: block;
      display: flex;
      align-items: center;
      background: none;
      border: none;

      font-weight: 600;
      font-size: 10px;
      line-height: 120%;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      color: #3F4E65;
      margin-bottom: 25px;
      margin-left: -168px;

      &_product-page {
        margin: 0;
        // margin-right: 200px;
        position: relative;
        top: 0;
        left: -30%;
      }

      &_cart {
        margin: 0;
        position: relative;
        top: 0;
        left: 0;
      }
    }

    &__back-img {
      margin-right: 5px;
      width: 32px;
      height: 32px;
    }

    &__to-admin-btn {
      margin: 10px 38px;
    }

    &__filter-arrow {
      display: block;
      margin: auto;
    }

    &__filter-arrow-img {
      width: 32px;
      height: 32px;
    }
  }

  .product-card {
    width: 100%;
    margin: 0 auto;
    gap: 0;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding-bottom: 60px;

    &__img-wrapper {
      width: 100%;
      padding: 0;
    }

    &__data {
      width: 100%;
    }

    &__title {
      font-size: 16px;

      &_bold {}
    }

    &__product-type-box {
      display: none;
    }

    &__product-price-box {
      max-width: 489px;
      min-height: 59px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 20px;
      gap: 10px;

      width: 300px;
      justify-content: flex-start;
    }

    &__product-price {
      font-size: 20px;
      margin-right: 27px;
    }

    &__product-cartBtn {
      display: none;

      &_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5px;

        background-color: $_5;
        border-radius: 80px;
        border: none;

        width: 184px;
        height: 59px;

        font-weight: 700;
        font-size: 10px;
        line-height: 12px;
        letter-spacing: 0.15em;
        color: #FFFFFF;
        cursor: pointer;
      }
    }

    &__ad-box {
      width: 100%;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      margin: 0 auto;
    }


    &__share-link {
      display: none;

      &_mobile {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 77px;
        min-height: 77px;

        background: #FFFFFF;
        box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
        border-radius: 10px;
        border: none;
      }
    }

    &__ad-text-box {
      width: 100%;
    }

    &__priceListBtn {
      width: 100%;
    }

    &__prop {
      font-weight: 300;
      font-size: 14px;
      line-height: 150%;
      color: $_2;
      margin-bottom: 5px;

      &_value {
        font-weight: 500;
        font-size: 14px;
        line-height: 150%;
        color: $_1;
      }
    }
  }

  .cart {
    &__title {
      margin-top: 25px;
      margin-bottom: 40px;
      font-size: 20px;
      text-align: left;
    }

    &__wrapper {}

    &__cart__item-wrapper {
      width: 289px;
      height: 436px;
    }

    &__item {
      width: 100%;
      height: 100%;
      border-top: 1px dashed $_2;
      border-bottom: 1px dashed $_2;
      padding: 20px 0;
    }

    &__horizontal-line {
      display: none;
    }

    &__item-title {
      font-weight: 500;
      font-size: 20px;
      line-height: 24px;
    }

    &__item-price {
      font-size: 16px;
      min-width: auto;
    }

    &__item-img {
      height: auto;
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
    }

    &__item-info-box {
      max-width: auto;
      margin: 0;
      width: 100%;
      height: auto;
      margin-bottom: 15px;
    }

    &__item-actions {
      min-width: auto;
      width: 100%;
      margin: 0;
    }

    &__order-box {
      flex-direction: column;
      gap: 25px;
      margin-top: 25px;
    }

    &__orderBtn {
      order: 2;
    }
  }

  .modal {
    height: 288px;
    width: 290px;
    top: calc(50% - 144px);
    left: calc(50% - 145px);
  }

  .order-complete {
    width: 206px;
    height: 141px;

    &__icon-wrapper {
      min-width: 59px;
      min-height: 59px;
    }

    &__title {
      width: 100%;
      font-size: 20px;
      margin-top: 20px;
      margin-bottom: 10px;
    }

    &_text {
      font-size: 12px;
    }
  }
}