* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  color: $_1;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;

  min-height: 100vh;
}

.container {
  max-width: 1371px;
  margin: 0 auto;
  padding: 0 15px;
}

/*-----------------------------------header-----------------------------------*/

.header {
  min-height: 170px;
  // margin: 0 auto;
  // display: flex;
  // align-items: center;
  // flex-direction: column;

  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__menu-wrapper {
    width: 100%;
    min-height: 61px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }

  &__location-mail-box {
    width: 493px;
    min-height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__location-box {
    width: 275px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__location-icon {
    width: 20px;
    height: 20px;
  }

  &__location-text-box {
    width: 240px;
    height: 34px;
    display: flex;
    flex-direction: column;
  }

  &__location-text {
    font-weight: 600;
    line-height: 130.02%;
  }

  &__location-note {
    font-weight: 300;
    font-size: 12px;
    line-height: 130.02%;
    color: #3F4E65;
  }

  &__location-vertical-line {
    height: 29px;
    opacity: 0.05;
    border-left: 1px dashed #000000;
  }

  &__mail-box {
    width: 178px;
    height: 34px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__mail-icon {
    width: 20px;
    height: 20px;
  }

  &__mail-text-box {
    width: 143px;
    height: 34px;
    display: flex;
    flex-direction: column;
  }

  &__mail-text {
    font-weight: 600;
    line-height: 18px;
  }

  &__mail-note {
    font-weight: 300;
    font-size: 12px;
    line-height: 130.02%;
    color: #3F4E65;
  }

  &__menu-vertical-line {
    height: 29px;
    opacity: 0.1;
    border-left: 1px dashed #3F4E65;
  }

  &__main-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  &__logo {
    height: 66px;
    width: 156px;
  }

  &__catalogBtn {
    font-weight: 700;
    line-height: 17px;
    color: #FFFFFF;

    height: 59px;
    min-width: 192px;
    border-radius: 79px;
    border: none;
    // padding: 10px 19px 10px 19px;
    background-color: $_6;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 12px;
  }

  &__catalogBtn-icon {
    height: 15px;
    width: 15px;
  }

  &__search-form {
    font-size: 12px;
    line-height: 18px;
    color: #5C6370;

    height: 59px;
    min-width: 263px;
    border-radius: 36px;
    background-color: #EDEDED;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__search-input {
    border: none;
    outline: none;
    background-color: inherit;
    width: 192px;
    opacity: 0.6;
  }

  &__search-btn {
    height: 39px;
    width: 39px;
    border-radius: [object Object]px;
    cursor: pointer;
  }

  &__contact-wrapper {
    height: 92px;
    width: 236px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__contact-text-wrapper {
    height: 64px;
    width: 152px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
  }

  &__contact-title {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: $_1;
  }

  &__contact-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: $_2;
  }

  &__contact-link {
    font-weight: 400;
    font-size: 10px;
    line-height: 150%;
    text-decoration-line: none;
    color: $_2;

    position: relative;
    cursor: pointer;

    &:after {
      position: absolute;
      width: 53%;
      height: .8px;
      content: '';
      bottom: 0;
      right: 0;
      bottom: 1px;
      margin: 0 auto;
      background-color: $_2;
    }
  }


  &__contact-img {
    height: 92px;
    width: 70px;
  }

  &__main-vertical-line {
    height: 49px;
    opacity: 0.1;
    border-left: 1px dashed $_2;
  }

  &__price-list-btn {
    min-width: 200px;
    height: 59px;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background-color: $_6;
    border-radius: 79px;
    border: none;
  }

  &__price-list-btn-icon {
    height: 17px;
    width: 17px;
  }

  &__cart {
    height: 46px;
    min-width: 128px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
  }

  &__cart-icon {
    height: 46px;
    width: 56px;
  }

  &__cart-text-wrapper {
    display: flex;
    flex-direction: column;

  }

  &__cart-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: $_2;
  }

  &__cart-price {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: $_1;
  }
}

.header .nav-list {
  list-style: none;
  min-height: 29px;
  width: 512px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;

  &__item {}

  &__link {
    text-decoration: none;
    line-height: 150%;
    color: $_2;
  }
}

/*-----------------------------------footer-----------------------------------*/
.footer {
  min-height: 500px;
  background: $_2;
  box-shadow: 0px 15px 70px -11px rgba(43, 28, 1, 0.04);
  display: flex;


  &__wrapper {
    width: 100%;
    margin-top: 71px;
    min-height: 313px;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
  }

  &__logo-box {
    width: 282px;
    height: 313px;
    display: flex;
    flex-direction: column;
    margin-right: 59px;
  }

  &__logo {
    height: 66px;
    width: 156px;
    margin-bottom: 15px;
  }

  &__logo-text {
    font-size: 16px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 45px;
  }

  &__logo-note {
    font-size: 12px;
    line-height: 150%;
    color: #fff;
    margin-bottom: 14px;
  }

  &__email-form {
    width: 282px;
    height: 59px;
    background-color: #fff;
    border-radius: 36px;

    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__email-input {
    width: 203px;
    height: 18px;
    font-size: 12px;
    line-height: 150%;
    color: #5c6370;
    opacity: 0.6;

    outline: none;
    border: none;
    margin-left: 20px;
  }

  &__email-btn {
    width: 39px;
    height: 39px;
    cursor: pointer;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-right: 95px;
  }

  &__info-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 25px;
  }

  &__price {
    display: flex;
    flex-direction: column;
    margin-right: 95px;
  }

  &__price-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 25px;
  }

  &__price-text {
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 15px;
  }

  &__price-icon-box {
    width: 88px;
    display: flex;
    justify-content: space-between;
  }

  &__price-icon {
    height: 39px;
    width: 39px;
    cursor: pointer;
  }

  &__contact {
    display: flex;
    flex-direction: column;
  }

  &__contact-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 25px;
  }

  &__contact-tel-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }

  &__contact-tel {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 5px;
  }

  &__contact-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 150%;
    color: #FFFFFF;
    margin-bottom: 5px;
  }

  &__contact-link {
    font-size: 10px;
    line-height: 150%;
    text-decoration-line: underline;
    color: #FFFFFF;
  }

  &__contact-mail-box {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
  }

  &__contact-mail {
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
  }

  &__contact-mail-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 130.02%;
    color: #FFFFFF;
  }

  &__contact-icon-box {
    width: 127px;
    display: flex;
    justify-content: space-between;
  }
}

.footer .nav-list {
  display: flex;
  flex-direction: column;
  list-style: none;

  &__item {
    margin-bottom: 20px;
  }

  &__link {
    text-decoration: none;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
  }
}

.bread-crumbs {
  min-height: 112px;

  &__wrapper {
    min-height: 112px;
    display: flex;
    align-items: center;

    &>* {
      margin-right: 10px;
    }
  }

  &__element {
    text-decoration: none;
    font-weight: 300;
    font-size: 14px;
    line-height: 120%;
    color: $_2;

    &_active {
      text-decoration: none;
      opacity: 0.5;
    }
  }

  &__vertical-line {
    height: 16px;
    opacity: 0.3;
    border-left: 1px dashed $_2;
  }
}