* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #fff;
  color: $_1;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0em;

  min-height: 100vh;
}

.container {
  max-width: 1371px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

.mobile {

  &__back-btn {
    display: none;
  }

  &__back-img {}

  &__filter-arrow {
    display: none;
  }

  &__to-admin-btn {
    margin: 10px 38px;
  }

  &__product-cart-btn-wrapper {
    display: flex;
    align-items: center;
    gap: 30px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 350px;
    padding: 0 15px;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 0px 10px;
    clip-path: inset(0px -10px 0px -10px);
  }

  .mobile-hide {
    display: none;
  }

  .bread-crumbs {
    display: none;
  }

  .mobile {

    &__back-btn {
      display: block;
      display: flex;
      align-items: center;
      background: none;
      border: none;

      font-weight: 600;
      font-size: 10px;
      line-height: 120%;
      letter-spacing: 0.14em;
      text-transform: uppercase;
      color: #3F4E65;
      margin-bottom: 25px;
      margin-left: -168px;

      &_product-page {
        margin: 0;
        // margin-right: 200px;
        position: relative;
        top: 0;
        left: -30%;
      }

      &_cart {
        margin: 0;
        position: relative;
        top: 0;
        left: 0;
      }
    }

    &__back-img {
      margin-right: 5px;
      width: 32px;
      height: 32px;
    }

    &__to-admin-btn {
      margin: 10px 38px;
    }

    &__filter-arrow {
      display: block;
      margin: auto;
    }

    &__filter-arrow-img {
      width: 32px;
      height: 32px;
    }
  }
}